certificados/resultados/cache/*
!certificados/resultados/cache/*_salidas_*
certificados/resultados/reclasificacion_salidas_*_log.txt
certificados/resultados/validacion_externa_log.txt
certificados/resultados/sens_*.log
certificados/resultados/minimalidad_log.txt
certificados/resultados/un_parametro_log.txt
certificados/resultados/poda_log.txt
certificados/resultados/poda_gr_log.txt
certificados/resultados/validacion_gr_log.txt
certificados/resultados/minimalidad_gr_log.txt
